streamlit
pandas
numpy
Pillow
opencv-python-headless
python-dotenv
easyocr
spacy
phonenumbers
openpyxl
streamlit-lottie
langchain-huggingface
langchain-core
tldextract
extra-streamlit-components
torch
torchvision
torchaudio
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
